.container{
    max-width: 1550px;
       width: 0 auto;
    
   }

   .map{
    width:1200px;
    height:500px;
    margin-left: 100px;
}

.sections{
    font-family: Gotham Rounded,sans-serif;
    margin-top: -10px;
  font-size: 20px;
}

#section{
    display: inline;
}


ul{
list-style-type: none;
background-color: white;
 }

 ul li{
    display: inline-block;
    position: relative;
 }

 ul li a{
display: block;
    padding: 10px 10px;
    color:black;
    text-decoration: none;
    font-size:15px;
 }


 ul li ul.dropdown{
    background:white;
    position: absolute;
    z-index: 999;
    display: none;
 }

 ul li a{
  margin-left:-50px;
 }

 ul li a:hover{
    background: rgb(44, 44, 51);
 }

 ul li:hover ul.dropdown li {
    display: block;
 }

 #dropdownSquare{
    width:200px;
    height: 250px;
    margin-top: 20px;
    margin-left: 00px;
    background-color: rgb(255, 255, 255);
    border-radius: 0rem 0rem 2rem 2rem;
    border-color: black;   
}


#line{
    display: flex;
    width: 1450px;
    margin-top: -10px;
height: 0.005cm;
    background-color: rgb(185, 190, 195);
}

mt-auto {
    margin-top: auto;
}
.self-start {
    align-self: flex-start;
}


.button--small:hover{
    background: #005f83;
    color:white;
}

.button--white {
    background-color: transparent;
    --text-opacity: 1;
    color: #005f83;
    color: rgba(0,95,131,var(--text-opacity));
    --border-opacity: 1;
    border-color: #005f83;
    border-color: rgba(0,95,131,var(--border-opacity));
}
.button--small {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: .75rem;
}
.button-round {
    font-family: Gotham Rounded,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    border-width: 2px;
    border-radius: 24px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-duration: .15s;
}

.md\:w-4\/12 {
    width:200px;
}
.w-8\/12 {
    width: 200px;
}
.mt-20 {
    margin-top: 1.25rem;
    margin-left: 170px;
}

.mt-20:hover {
   background-color: #b6be5c;
}

.button--lime {
    --bg-opacity: 1;
    background-color: #c5d601;
    background-color: rgba(197,214,1,var(--bg-opacity));
    --border-opacity: 1;
    border-color: #c5d601;
    border-color: rgba(197,214,1,var(--border-opacity));
    --text-opacity: 1;
    color: #005f83;
    color: rgba(0,95,131,var(--text-opacity));
}
.button--xlarge {
    padding-bottom: 0.75rem;
    font-size: 1.1875rem;
    padding-top: 0.8125rem;
}
.button-round {

    font-family: Gotham Rounded,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    border-width: 2px;
    border-radius: 24px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-duration: .15s;
}
a {
    color: inherit;
    text-decoration: inherit;
}
a {
    background-color: transparent;
}




.gis{
    z-index:100px;
    margin-top: 50px;
  margin-left: 150px;
  border-radius: 3rem 3rem 3rem 3rem;
}

.point{
    margin-left: 700px;
    margin-top: -50px;
    background-repeat: no-repeat;
    background-image: url(https://maps.api.2gis.ru/2.0/img/DGCustomization__marker.png);
    background-size: 22px 34px;
    width: 22px;
    height: 34px;

    -webkit-animation: dg-customization__show-marker .2s;
    animation: dg-customization__show-marker .2s;
    z-index: 1;
}



.point:hover{
cursor:pointer;
}

   
   .header .container img{
       margin-left: 20px;
       margin-top: 0px;
       width: 250px;
       height:130px;
   }
   
   .contact{
       display: flex;
   }
   
   
   .menu{
       font-family: Gotham Rounded,sans-serif;
       display:flex;
       margin-top: -70px;
       margin-left: 200px;
   }

   
 .section{
    display:flex;
 }

 .section .container img{
    image-rendering:crisp-edges;
    image-rendering: -moz-crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; 
    width:1200px;
    height:500px;
    margin-left: 150px;
    margin-top: 30px;
    border-radius: 15rem 15rem 15rem 15rem;
 }

 .section .container h2{
    font-family: GT-Walsheim,Arial,Helvetica,sans-serif;
   margin-left: 350px;
   margin-top: 60px; 
 }

 #first {
    display: flex;
    width: 1600px;
    margin-left: -100px;
    margin-top: -30px;
    height: 70px;
    background-color: rgb(75,79,84);
    justify-content: flex-end;
    align-items: center;
}

.section .container p{
    margin-left: 400px;
    margin-top: 20px;
    max-width: 600px;
    font-family: GT-Walsheim,Arial,Helvetica,sans-serif;
}

.instagram{
    width: 60px;
    height:60px;
    margin-left: 400px;
    margin-top: 10px;
    border: none;
    background-image:url(https://cdn.icon-icons.com/icons2/2845/PNG/512/instagram_logo_icon_181283.png);
    background-size: cover;
    border-radius: 3rem 3rem 3rem 3rem;
}

.instagram:hover{
    background-color: rgb(0, 123, 255);
}

#block {
    background-image: url("https://d2cyh61n5mln28.cloudfront.net/media/original_images/cricket_gear_01.jpg");
    width: 1450px;
    height: 500px;
    margin-left: 0px;
    margin-top: 150px;
    border-radius: 3rem 3rem 3rem 3rem;
    background-color: rgb(0, 0, 0);
    display: flex;
}

.instagramL{
    width: 60px;
    height:60px;
    margin-left: 1000px;
    margin-top: 400px;
    border: none;
    background-image:url(https://cdn.icon-icons.com/icons2/2845/PNG/512/instagram_logo_icon_181283.png);
    background-size: cover;
    border-radius: 3rem 3rem 3rem 3rem;
}

.instagramL:hover{
    background-color: rgb(0, 123, 255);
}

#phone{
    color: white;
    margin-left: -1000px;
    margin-top: 400px;
}

.home{
    font-size: 20px;
    margin-left: 20px;
    font-family: GT-Walsheim,Arial,Helvetica,sans-serif;
}

.home:hover{
    text-decoration-color: rgba(52, 137, 221, 0.947);
    text-decoration-line: underline;
    color:rgba(52, 137, 221, 0.947);
    cursor: pointer;
}
.container{
    width: 0 auto;
    font-family: Gotham Rounded,sans-serif;
    font-weight: 500;
}

.sections{
    margin-top: -10px;
    margin-left: -10px;
}

ul{
background-color: transparent;
 }

#main{
    width: 120px;
    height:90px;
    margin-left:50px;
    margin-top: 0px;
    background-color: none;
    background: none;
}

 #main:hover{
cursor: pointer;
 }

#cube{
    border-top-width: 1px;
    border-bottom-width: 1px;
    width:800px;
    height:350px;
    background-color: rgba(0, 0, 0, 0.479);
    border-color:white;
    margin-left: 350px;
    margin-top: 70px;
}

mt-auto {
    margin-top: auto;
}
.self-start {
    align-self: flex-start;
}


.button--small:hover{
    background: #005f83;
    color:white;
}

.button--white {
    background-color: transparent;
    --text-opacity: 1;
    color: #005f83;
    color: rgba(0,95,131,var(--text-opacity));
    --border-opacity: 1;
    border-color: #005f83;
    border-color: rgba(0,95,131,var(--border-opacity));
}
.button--small {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: .75rem;
}
.button-round {
    font-family: Gotham Rounded,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    border-width: 2px;
    border-radius: 24px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-duration: .15s;
}

 #dropdownSquare{
    width:500px;
    height: 300px;
    margin-top: 20px;
    
    background-color: rgb(255, 255, 255);
    border-radius: 0rem 0rem 2rem 2rem;
    border-color: black;   
}


 ul li{
   list-style:inside;
    position: relative;
 }


 ul li a{
    padding: 10px 10px;
    color:black;
    text-decoration: none;
    font-size:15px;
 }

 ul li ul.dropdown li{
    margin-left: -20px;
 }

 ul li ul.dropdown{
max-width: 500px;
    background:none;
    position: absolute;
    z-index: 999;
    display: none;
 }

 ul li a{
  margin-left:-50px;
 }

 ul li a:hover{
    background: transparent;
 
 }

 ul li:hover ul.dropdown{
    display: block;
 }

.header .container img{
    margin-left: 20px;
    margin-top: 15px;
    width: 250px;
    height:130px;
}


.contact{
    display: flex;
}


.menu{
    --text-opacity: 1;
    color: rgba(75,79,84,var(--text-opacity));
    font-family: Gotham Rounded,sans-serif;
    display:flex;
    margin-top: -40px;
    margin-left: 185px;
}
.menu a{
    margin-left: 30px;
}

.menu a:hover{
    text-decoration-color: rgba(52, 137, 221, 0.947);
    text-decoration-line: underline;
    color:rgba(52, 137, 221, 0.947);
    cursor: pointer;
}


.aboutus{
    display: flex;
    margin-top: -100px;
}


.fi {
   width: 700px;
   height:500px;
 
   margin-left: 700px;
   margin-top: 50px;
  
}

.aboutus h1{
   margin-left: 170px;
   margin-top: -350px;
   max-width: 400px;
   font-size: 50px;
   color:rgb(75, 79, 84);
}

.aboutus p{
    font-family: GT-Walsheim,Arial,Helvetica,sans-serif;
   margin-left:-400px;
    margin-top: -110px;
    max-width: 400px;
    font-size: 1.125rem;
    color:rgb(75, 79, 84);
}

.MoreUs{
    display: flex;
}

.MoreUs h2{
    font-family: GT-Walsheim,Arial,Helvetica,sans-serif;
    margin-left: 120px;
    margin-top:100px;
}

.MoreUs a{
    max-width: 450px;
    margin-top: 140px;
    margin-left: -65px;
    font-family: GT-Walsheim,Arial,Helvetica,sans-serif;
}

.MoreUs p{
    max-width: 600px;
    margin-top: 300px;
    margin-left: -400px;
    font-family: GT-Walsheim,Arial,Helvetica,sans-serif;
}

.MoreUs h3{
    max-width: 600px;
    margin-top: 400px;
    margin-left: -450px;
    font-family: GT-Walsheim,Arial,Helvetica,sans-serif;
}

 .secondF{
    max-width: 600px;
    margin-top: -140px;
    margin-left: 860px;
    font-family: GT-Walsheim,Arial,Helvetica,sans-serif;
}


.programs{
    display: flex;
    margin-left: -50px;
}

.programs #square{
    margin-top: 250px;
}

#gis{
margin-left: 100px;

}


.button {
    margin-left: 170px;
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover{
    background-color: aquamarine;
}

*, :after, :before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #edf0f2;
}

.programs img{
    margin-top: -90px;
    border-radius: 3rem 3rem 3rem 3rem;
    width: 400px;
    height:220px;
    margin-left: 50px;
}
.programs h2{
    font-family: GT-Walsheim,Arial,Helvetica,sans-serif;
    max-width: 1000px;
    margin-top: 70px;
    margin-left: 100px;
}

.football{
    max-width: 350px;
    font-family: GT-Walsheim,Arial,Helvetica,sans-serif;

}

.karate{
    font-family: GT-Walsheim,Arial,Helvetica,sans-serif;
    margin-left: 880px;
    max-width: 400px;
    margin-top: -210px;
}

.backetball{
    font-family: GT-Walsheim,Arial,Helvetica,sans-serif;
    margin-left: 450px;
    max-width: 400px;
    margin-top: -210px;
}

#square {
    width: 1400px;
    height: 400px;
    margin-left: -150px;
    margin-top: 300px;
    border-radius: 3rem 3rem 3rem 3rem;
    background-color: rgba(244,246,246);
    
}

.instagram{
    width: 50px;
    height:50px;
    margin-left: 100px;
    margin-top: 400px;
    border: none;
    background-image:url(https://cdn.icon-icons.com/icons2/2845/PNG/512/instagram_logo_icon_181283.png);
    background-size: cover;
    border-radius: 3rem 3rem 3rem 3rem;
}

.instagram:hover{
    background-color: rgb(0, 123, 255);
}



#phone{
    font-size: 22px;
    color: white;
    margin-left: -200px;
    margin-top: 450px;
    
}



.home{
    font-size: 15px;
    margin-left: 20px;
    font-family: GT-Walsheim,Arial,Helvetica,sans-serif;
}

.home:hover{
    text-decoration-color: rgba(52, 137, 221, 0.947);
    text-decoration-line: underline;
    color:rgba(52, 137, 221, 0.947);
    cursor: pointer;
}


#block {
    display: flex;
    background-image: url("https://d2cyh61n5mln28.cloudfront.net/media/original_images/cricket_gear_01.jpg");
    width: 1480px;
    height: 500px;
    margin-top: 300px;
    margin-left: -100px;
    background-color: rgb(0, 0, 0);
   
}


.md\:w-4\/12 {
    width:200px;
}
.w-8\/12 {
    width: 200px;
}
.mt-20 {
    margin-top: 1.25rem;
    margin-left: 170px;
}

.mt-20:hover {
   background-color: #b6be5c;
}

.button--lime {
    --bg-opacity: 1;
    background-color: #c5d601;
    background-color: rgba(197,214,1,var(--bg-opacity));
    --border-opacity: 1;
    border-color: #c5d601;
    border-color: rgba(197,214,1,var(--border-opacity));
    --text-opacity: 1;
    color: #005f83;
    color: rgba(0,95,131,var(--text-opacity));
}
.button--xlarge {
    padding-bottom: 0.75rem;
    font-size: 1.1875rem;
    padding-top: 0.8125rem;
}
.button-round {

    font-family: Gotham Rounded,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    border-width: 2px;
    border-radius: 24px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-duration: .15s;
}

#dropdownSquare{
    width:200px;
    height: 250px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-radius: 0rem 0rem 2rem 2rem;
    border-color: black;   
}

a {
    color: inherit;
    text-decoration: inherit;
}
a {
    background-color: transparent;
}

.sections{
    margin-top: -5px;
}

#menu{
    margin-top: 0px;
}

