.container{
    width: 0 auto;
}

.header .container img{
    margin-left: 20px;
    margin-top: 15px;
    width: 250px;
    height:130px;
}

.contact{
    display: flex;
}


.menu{
    font-family: Gotham Rounded,sans-serif;
    display:flex;
    margin-top: -60px;
    margin-left: 200px;
}
.menu a{
    margin-left: 30px;
}

.menu a:hover{
    text-decoration-color: rgba(52, 137, 221, 0.947);
    text-decoration-line: underline;
    color:rgba(52, 137, 221, 0.947);
    cursor: pointer;
}

.aboutus{
    display: flex;
}

.fi {
   width: 800px;
   height:400px;
   border-radius: 15rem 0 0 15rem;
   margin-left: 700px;
   margin-top: 50px;
}

.aboutus h1{
   margin-left: 170px;
   margin-top: -350px;
   max-width: 400px;
   font-size: 50px;
   color:rgb(75, 79, 84);
}

.aboutus p{
    font-family: GT-Walsheim,Arial,Helvetica,sans-serif;
   margin-left:-400px;
    margin-top: -110px;
    max-width: 400px;
    font-size: 1.125rem;
    color:rgb(75, 79, 84);
}

.MoreUs{
    display: flex;
}

.MoreUs h2{
    font-family: GT-Walsheim,Arial,Helvetica,sans-serif;
    margin-left: 160px;
    margin-top:100px;
}

.MoreUs a{
    max-width: 450px;
    margin-top: 140px;
    margin-left: -65px;
    font-family: GT-Walsheim,Arial,Helvetica,sans-serif;
}

.MoreUs p{
    max-width: 600px;
    margin-top: 300px;
    margin-left: -400px;
    font-family: GT-Walsheim,Arial,Helvetica,sans-serif;
}

.MoreUs h3{
    max-width: 600px;
    margin-top: 400px;
    margin-left: -450px;
    font-family: GT-Walsheim,Arial,Helvetica,sans-serif;
}

 .secondF{
    max-width: 600px;
    margin-top: -140px;
    margin-left: 900px;
    font-family: GT-Walsheim,Arial,Helvetica,sans-serif;
}
.programs{
    display: flex;
}



.button {
    margin-left: 170px;
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover{
    background-color: aquamarine;
}

*, :after, :before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #edf0f2;
}

.programs img{
    margin-top: -90px;
    border-radius: 3rem 3rem 3rem 3rem;
    width: 400px;
    height:220px;
    margin-left: 50px;
}
.programs h2{
    font-family: GT-Walsheim,Arial,Helvetica,sans-serif;
    margin-top: 100px;
    margin-left: 100px;
}

.football{
    max-width: 350px;
    font-family: GT-Walsheim,Arial,Helvetica,sans-serif;

}

.karate{
    font-family: GT-Walsheim,Arial,Helvetica,sans-serif;
    margin-left: 880px;
    max-width: 400px;
    margin-top: -210px;
}

.backetball{
    font-family: GT-Walsheim,Arial,Helvetica,sans-serif;
    margin-left: 450px;
    max-width: 400px;
    margin-top: -210px;
}

#square {
    width: 1400px;
    height: 400px;
    margin-left: -150px;
    margin-top: 300px;
    border-radius: 3rem 3rem 3rem 3rem;
    background-color: rgba(244,246,246);
    
}

.instagram{
    width: 60px;
    height:60px;
    margin-left: 1000px;
    margin-top: 400px;
    border: none;
    background-image:url(https://cdn.icon-icons.com/icons2/2845/PNG/512/instagram_logo_icon_181283.png);
    background-size: cover;
    border-radius: 3rem 3rem 3rem 3rem;
}

.instagram:hover{
    background-color: rgb(0, 123, 255);
}

#phone{
    color: white;
    margin-left: -1000px;
    margin-top: 400px;
}

.facebook{
    width: 60px;
    height:60px;
    border: none;
    margin-left: 50px;
    margin-top: 400px;
    background-image:url(https://cdn.icon-icons.com/icons2/792/PNG/512/FB_icon-icons.com_65534.png);
    background-size: cover;
    border-radius: 1rem 1rem 1rem 1rem;
}

.facebook:hover{
    background-color: rgb(0, 123, 255);
}

.home{
    font-size: 20px;
    margin-left: 20px;
    font-family: GT-Walsheim,Arial,Helvetica,sans-serif;
}

.home:hover{
    text-decoration-color: rgba(52, 137, 221, 0.947);
    text-decoration-line: underline;
    color:rgba(52, 137, 221, 0.947);
    cursor: pointer;
}


#block {
    background-image: url("https://d2cyh61n5mln28.cloudfront.net/media/original_images/cricket_gear_01.jpg");
    width: 1450px;
    height: 500px;
    margin-left: 20px;
    margin-top: 300px;
    border-radius: 3rem 3rem 3rem 3rem;
    background-color: rgb(0, 0, 0);
    display: flex;
}

#first {
    display: flex;
    width: 1600px;
    margin-left: -100px;
    margin-top: -30px;
    height: 70px;
    background-color: rgb(75,79,84);
    justify-content: flex-end;
    align-items: center;
}

#line{
    display: flex;
    width: 1450px;
    margin-top: 38px;
    height: 0.005cm;
    background-color: rgb(185, 190, 195);
}